/* COL devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
        .menu {
            margin-left: 0;
            text-align: end;
            margin-top: 5px;
        }
            /* slider start */
        .slider {
            height: 235px!important;
        }
        .slider_content {
            margin-top: 20px;
            text-align: center;
        }
        .slider_h1 {
            font-size: 40px;
        }
        .slider_h2 {
            font-size: 23px;
            margin-top: 10px;
        }
        /* slider end */
        /* service start */
        .service , .price{
            padding: 45px 0px 55px 0px;
        }
        .service_header {
            font-size: 40px;
        }
        .service_content {
            margin-top: 40px;
        }
        .service_h3 {
            font-size: 36px;
        }
        .service_icon .img-fluid {
            max-width: 80px;
        }
        .about_img .img-fluid{
            max-width: 0!important;
        }
        .service_p {
            font-size: 16px;
        }
        /* service end */
    /* theme start */
    .theme {
        height: 250px!important;
    }
    .theme_h1 {
        margin-top: 33px;
        font-size: 30px;
    }
    /* theme end */
    /* price start*/
    .price_content{
        width: 18rem!important;
    }
    /* price end*/
}

/* SM (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .menu {
        margin-left: 0;
        text-align: end;
        margin-top: 5px;
    }
    /* slider start */
    .slider{
        height: 380px!important;
    }
    .slider_content {
        margin-top: 20px;
        text-align: center;
    }
    .slider_h1 {
        font-size: 50px;
    }
    .slider_h2 {
        font-size: 33px;
    }
    .preview{
       margin-left: -20px;
    }
    .next{
       margin-left: 20px;
    }
    .preview, .next {
        margin-top: 280px;
    }
    /* slider end */
    /* service start */
    .service {
        padding: 50px 0px 55px 0px;
    }
    .service_header {
        font-size: 40px;
    }
    .service_h3 {
        font-size: 36px;
    }
    .service_icon .img-fluid {
        max-width: 80px;
    }
    .about_img .img-fluid{
        max-width: 0!important;
    }
    .service_p {
        font-size: 24px;
    }
    
    /* service end */
    /* theme start */
    .theme {
        height: 350px!important;
    }
    .theme_h1 {
        margin-top: 70px;
    }
    /* theme end */
    /* price start*/
    .price_content{
        width: 32rem!important;
    }
    /* price end*/
}

/* MD (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu {
        margin-left: 0;
        text-align: end;
        margin-top: 5px;
    }
    /* slider start */
    .slider{
        height: 420px!important;
    }
    .slider_content {
        margin-top: 20px;
        text-align: center;
    }
    .slider_icons {
       margin-left: -65px!important;
    }
    .preview{
       margin-left: -50px;
    }
    .next{
       margin-left: 50px;
    }
    .preview, .next {
        margin-top: 315px;
    }
    /* slider end */
    /* service start */
    .service {
        padding: 50px 0px 60px 0px;
    }
    .service_p {
        font-size: 17px;
    }
    .menu{
        margin-left: 0;
    }
    /* service end */
    /* theme start */
    .theme {
        height: 400px!important;
    }
    .theme_h1 {
        margin-top: 80px;;
    }
    /* theme end */
    /* price start*/
    .price_content{
        width: 43rem!important;
    }
    /* price end*/
}

/* LG (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* slider start */
    .slider{
        height: 480px!important;
    }
    .slider_content{
        margin-top: 185px;
    }
    .slider_h1{
        font-size: 50px;
    }
    .slider_h2{
        font-size: 32px;
    }
    .slider_h1, .slider_h2{
        margin-left: 50px;
     }
    .preview {
        margin-left: -95px;
    }
    .next {
        margin-left: 95px;
    }
    .slider_icons img{
        width: 300px!important;
        flex-direction: unset;
    }
    /* slider end */
    /* theme start */
    .theme_h1 {
        margin-top: 135px;
    }
    /* theme end */
}

/* XL (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   /* slider start */
   .slider_h1, .slider_h2{
       margin-left: 35px;
    }

    /* slider end */
}